{% extends "base.html" %} {% block content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">My website</h1>
    </div>

    <nav class="navbar navbar-light bg-light container">
        <div class="container-fluid">
            <form class="d-flex" method="POST">
                {{form.search.label(placeholder="Search")}}{{form.search(class="form-control")}} {{form.submit(class="btn btn-outline-success")}}
            </form>
        </div>
    </nav>

    <br>

    <div class="container">
        {% if name == "None" %}
        <h3>City name:...</h3>
        <p class="lead">Temperature: ...</p>
        <p class="lead">Lowest temperature: ...</p>
        <p class="lead">Highest temperature: ...</p>
        {%else%}
        <h3>City name:{{name}}</h3>
        <p class="lead">Temperature: {{temp}} C°</p>
        <p class="lead">Lowest temperature: {{min_temp}} C°</p>
        <p class="lead">Highest temperature: {{max_temp}} C°</p>
        {% endif %}
    </div>
</div>
{% endblock %}